@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --accent-color: rgba(33, 150, 243, 1);
  --hero-footer-color: rgba(47, 48, 58, 1);
  --title-color: rgba(33, 33, 33, 1);
  --sec-title-color: rgba(33, 33, 33, 1);
  --paragraph-text: rgba(117, 117, 117, 1);
  --btn-hover-background: rgba(24, 140, 232, 1);
  --btn-text: rgba(255, 255, 255, 1);
  --btn-background: rgba(33, 150, 243, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.03em;
  font-size: 14px;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

.container {
  /*width: 1200px;
  padding: 0 15px;
  margin: 0 auto;*/
  /*outline: 1px dashed tomato;*/
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    outline: 1px dashed tomato;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    outline: 1px dashed greenyellow;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    outline: 1px dashed blueviolet;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.logo {
  font-family: "Raleway", "Verdana", "Tahoma", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo--header-accent {
  color: rgb(33, 33, 33);
}
.logo--footer-accent {
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--btn-text);
  background-color: var(--btn-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

.link-current {
  position: relative;
}
.link-current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.soc-list {
  display: flex;
}

.soc-list__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.soc-list__item:last-child {
  margin-right: 0;
}

.soc-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--btn-text);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__icon {
  fill: currentColor;
}

.soc-list__link--team {
  background-color: rgb(255, 255, 255);
  color: rgb(175, 177, 184);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link--team:hover, .soc-list__link--team:focus {
  color: rgb(255, 255, 255);
}

.backdrop {
  position: fixed;
  padding: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 500ms linear;
  /*без этого не работает обратная анимация*/
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 93px 15px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

.page-header {
  width: 100%;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.page-header .container {
  display: flex;
  align-items: center;
}
.page-header .header__logo {
  margin-right: 0;
  padding: 16px 0 16px;
}
@media screen and (min-width: 768px) {
  .page-header .header__logo {
    margin-right: 88px;
    padding: 26px 0 26px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header .header__logo {
    margin-right: 93px;
    padding: 24px 0 25px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .link {
  display: block;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
    align-items: center;
    color: rgb(33, 33, 33);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-nav__item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgb(33, 33, 33);
}

.header-nav__list .link-current {
  color: var(--accent-color);
}

.header-nav__list .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__list .link:focus,
.header-nav__list .link:hover {
  color: var(--accent-color);
}

.header-nav__list .link-current {
  color: var(--accent-color);
}

.header-nav__list .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__list .link:focus,
.header-nav__list .link:hover {
  color: var(--accent-color);
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contacts {
    align-items: center;
    flex-direction: row;
  }
}

.header-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}

.header-contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-contacts .link {
  display: flex;
  align-items: center;
  color: rgb(117, 117, 117);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts .link:visited {
  color: rgb(117, 117, 117);
}
.header-contacts .link:focus, .header-contacts .link:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-contacts .link {
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    line-height: 1.14;
    font-size: 14px;
  }
}

/* mobile menu */
.menu_open_btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu_open_btn:focus, .menu_open_btn:hover {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu_open_btn {
    display: none;
  }
}

.menu_close_btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu_close_btn:focus, .menu_close_btn:hover {
  fill: var(--accent-color);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  outline: 1px solid green;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 10px 15px 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (max-height: 560px) {
  .mobile-menu {
    overflow-y: scroll;
  }
}
@media screen and (max-height: 560px) {
  .mobile-menu {
    padding: 10px 15px 65px 40px;
  }
}

.mobile-menu-wrap {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.76;
  letter-spacing: 0.02em;
}

.mobile-nav__list .link {
  color: rgb(33, 33, 33);
}

.mobile-nav__list .current {
  color: var(--accent-color);
}

.menu_close_btn:hover + .mobile-nav > .mobile-nav__list .current,
.menu_close_btn:focus + .mobile-nav > .mobile-nav__list .current {
  color: rgb(33, 33, 33);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 410px) {
  .mobile-contacts__tel {
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mobile-contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
}

.mob-menu--bottom {
  margin-top: auto;
}

.mobile-soc-list {
  display: flex;
}
@media screen and (max-width: 415px) {
  .mobile-soc-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.mobile-soc-list .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-soc-list__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* fin mobile menu */
.hero {
  margin: 0 auto;
  padding: 118px 0;
  background-size: cover;
  background-color: rgb(196, 196, 196);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_tabl.jpg);
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_tabl@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_desktop.jpg);
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_desktop@2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-hover-background);
}

.qualities-list {
  gap: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.qualities-list__icon {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.qualities-list__title {
  margin-bottom: 10px;
  color: var(--sec-title-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
.qualities-list__text {
  color: var(--paragraph-text);
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .qualities-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .qualities-list__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .qualities-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .dealing {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .dealing {
    padding-top: 0;
  }
  .dealing__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
  }
}
.dealing .dealing-list {
  display: flex;
  margin: -15px;
}
.dealing .dealing-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin: 15px;
  /* outline: 1px dashed green;*/
  position: relative;
}
.dealing .dealing-list__overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.dealing .dealing-list__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.team {
  background-color: rgb(245, 244, 250);
}
.team__title {
  color: var(--sec-title-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-list {
  gap: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team-list__item {
  background-color: rgb(255, 255, 255);
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  outline: 1px solid orange;
}
.team-list__img {
  margin-bottom: 30px;
}
.team-list__title {
  color: var(--sec-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.team-list__text {
  color: var(--paragraph-text);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-wrap: nowrap;
    flex-basis: calc((100% - 90px) / 4);
    padding-bottom: 30px;
  }
}

.team__soc-block .soc-list {
  justify-content: center;
}

.clients {
  background-color: rgb(255, 255, 255);
}
.clients-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  gap: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.clients-list__item {
  display: flex;
  flex-basis: calc((100% - 30px) / 2);
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__icon {
  fill: currentColor;
  border-color: currentColor;
}

.clients-list__link {
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  height: 92px;
  color: rgb(175, 177, 184);
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  outline: transparent;
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer-page {
  background-color: var(--hero-footer-color);
  margin: 0 auto;
  padding: 60px 0;
}

.footer-page__blocks {
  outline: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-page__blocks {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-page__tab-block {
    display: flex;
    outline: 1px solid yellow;
    margin-bottom: 60px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page__tab-block {
    margin-right: auto;
    margin-bottom: auto;
  }
}

.footer-address-block__logo {
  margin-bottom: 20px;
}

.footer-block__address {
  outline: 1px solid red;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-block__address {
    margin-bottom: 0;
    margin-right: 165px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-block__address {
    margin-right: 70px;
    align-items: flex-start;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    align-items: flex-start;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts__adress {
  color: rgb(255, 255, 255);
  font-style: normal;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__adress:hover, .footer-contacts__adress:focus {
  color: var(--accent-color);
}

.footer-contacts__email,
.footer-contacts__tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__email:hover, .footer-contacts__email:focus,
.footer-contacts__tel:hover,
.footer-contacts__tel:focus {
  color: var(--accent-color);
}

.footer-block__social {
  margin-bottom: 60px;
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .footer-block__social {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing__field {
    display: flex;
  }
}

.footer-block__title {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer-block__title {
    text-align: start;
  }
}

.footer-block__mailing {
  outline: 1px solid red;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-block__mailing {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block__mailing {
    max-width: 570px;
  }
}

.footer-mailing__text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--btn-text);
}
@media screen and (min-width: 1200px) {
  .footer-mailing__text {
    text-align: start;
  }
}

.footer-mailing__imput {
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  line-height: 1.25;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mailing__imput:focus {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
.footer-mailing__imput::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer-mailing__imput {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-mailing__btn {
  margin: 0 auto;
  outline: 1px solid transparent;
}

.footer-mailing__icon {
  margin-left: 10px;
}

.examples-filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .examples-filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .examples-filter {
    margin-bottom: 50px;
  }
}

/* justify-content: center;
  margin-bottom: 56px; */
.examples-filter__btn {
  display: inline-block;
  padding: 6px 22px;
  height: 38px;
  color: rgb(33, 33, 33);
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-filter__btn:hover, .examples-filter__btn:focus {
  color: var(--btn-text);
  background-color: var(--btn-background);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.examples-filter--first-btn {
  color: var(--btn-text);
  background-color: var(--btn-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ---- Карточки работ ---------*/
.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  /*margin: -15px;*/
}

@media screen and (min-width: 768px) {
  .examples-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .examples-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.examples-list__link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(238, 238, 238);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list__link:hover, .examples-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list__wrap {
  overflow: hidden;
  position: relative;
}

.examples-list__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  padding: 0 24px;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 360px) {
  .examples-list__overlay {
    align-items: flex-start;
    overflow-y: scroll;
  }
}
.examples-list__link:hover .examples-list__overlay, .examples-list__link:focus .examples-list__overlay {
  transform: translateY(0);
}

.examples-list__wrap-text {
  font-size: 18px;
  line-height: 1.56;
  color: rgb(255, 255, 255);
  letter-spacing: 0.03em;
}

.examples-list__content {
  padding: 20px 24px;
}

.examples-list__title {
  margin-bottom: 4px;
  color: var(--sec-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list__text {
  color: var(--paragraph-text);
  font-size: 16px;
  line-height: 1.88;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .modal {
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 300ms linear;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 300ms linear;
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -100%) scale(0) rotate(180deg);
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:focus, .modal__close-btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-color);
}
@media screen and (max-width: 480px) {
  .modal-form__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.modal-form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment-area {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-form__comment-area::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal-form__comment-area:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

/* Кастомный чекбокс */
.checkbox__field {
  margin-bottom: 31px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .checkbox__field {
    margin-bottom: 30px;
  }
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox__text {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.17;
  font-size: 12px;
  color: #757575;
}
@media screen and (max-width: 480px) {
  .checkbox__text {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    line-height: 1.71;
    font-size: 14px;
  }
}

.checkbox__input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid rgb(33, 33, 33);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__check:focus + .checkbox__text > .checkbox__input {
  border-color: var(--accent-color);
}
.checkbox__check:checked + .checkbox__text .checkbox__input {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__icon {
  fill: transparent;
}
.checkbox__check:checked + .checkbox__text .checkbox__icon {
  fill: var(--btn-text);
}

/* ---------------------*/
.modal__submit-btn {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal__submit-btn:focus, .modal__submit-btn:hover {
  background-color: var(--btn-hover-background);
  outline: transparent;
}
@media screen and (max-width: 480px) {
  .modal__submit-btn {
    width: 150px;
  }
}/*# sourceMappingURL=main.css.map */