.footer-page {
  background-color: var(--hero-footer-color);
  margin: 0 auto;
  padding: 60px 0;
}
.footer-page__blocks {
  outline: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-block__address {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-block__title {
  text-align: center;
}
.footer-block__mailing {
  outline: 1px solid red;

  width: 100%;
}
.footer-mailing__text {
  text-align: center;
}
.footer-mailing__imput {
  width: 100%;
}
.footer-mailing__btn {
  margin: 0 auto;
}
//.footer-page__blocks {
//  display: flex;
//  align-items: baseline;
//}
//.footer-block__address {
//  margin-right: 70px;
//  width: 231px;
//  /*padding: 60px 0;*/
//  /*outline: 1px solid green;*/
//}
//.footer-address-block__logo {
//  display: block;
//  margin-bottom: 20px;
//}

//.footer-contacts__item:not(:last-child) {
//  margin-bottom: 9px;
//}

//.footer-contacts__adress {
//  color: rgba(255, 255, 255, 1);
//  font-style: normal;
//  line-height: 1.71;
//
//  @include transitions(color);
//  &:hover,
//  &:focus {
//    color: var(--accent-color);
//  }
//}
//.footer-contacts__email,
//.footer-contacts__tel {
//  color: rgba(255, 255, 255, 0.6);
//  font-style: normal;
//  line-height: 1.71;
//
// @include transitions(color);

//  &:hover,
//  &:focus {
//    color: var(--accent-color);
//  }
//}

/* --- Footer join + soc links ---- */
//.footer-block__social {
//  margin-right: auto;
/* outline: 1px solid green;*/
//}

//.footer-block__title {
//  margin-bottom: 20px;
//  color: rgba(255, 255, 255, 1);
//
//  font-weight: 700;
//
//  line-height: 1.14;
//
//  text-transform: uppercase;
//}

/* ---mailing block----*/

/*.footer-mailing__text {
  margin-bottom: 20px;
  font-weight: 700;

  line-height: 1.14;

  text-transform: uppercase;
  color: var(--btn-text);
}
.footer-mailing__field {
  display: flex;
}

.footer-mailing__imput {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;

  line-height: 1.25;
  font-size: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;

  @include transitions(border-color);
  &:focus {
    color: rgba(255, 255, 255, 1);

    border-color: rgba(255, 255, 255, 1);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-mailing__btn {
  outline: 1px solid transparent;
}
.footer-mailing__icon {
  margin-left: 10px;
}
*/
