.page-header {
  width: 100%;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  .container {
    display: flex;
    align-items: center;
  }
  .header__logo {
    margin-right: 0;
    padding: 16px 0 16px;
    @include tablet {
      margin-right: 88px;
      padding: 26px 0 26px;
    }
    @include desktop {
      margin-right: 93px;
      padding: 24px 0 25px;
    }
  }
}
