.header-nav {
  display: flex;
  align-items: center;
  .link {
    display: block;
  }
}
/* mobile menu */
.menu_open_btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu_close_btn {
  display: block;
  margin-left: auto;

  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu-wrap {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
.mobile-nav__list {
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  outline: 1px solid green;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 10px 15px 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}
.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.76;
  letter-spacing: 0.02em;
}

.mobile-nav__list .link {
  color: rgba(33, 33, 33, 1);
}
.mobile-nav__list .current {
  color: var(--accent-color);
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts {
  margin-bottom: 64px;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__tel {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
}
.mob-menu--bottom {
  margin-top: auto;
}
.mobile-soc-list {
  display: flex;
  & .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: var(--accent-color);
  }
}

.mobile-soc-list__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* fin mobile menu */
.header-nav__item:not(:last-child) {
  margin-right: 50px;
}
.header-nav__list {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    color: rgb(33, 33, 33);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-nav__item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgba(33, 33, 33, 1);
}

.header-nav__list .link-current {
  color: var(--accent-color);
}
.header-nav__list .link {
  @include transitions(color);
}
.header-nav__list .link:focus,
.header-nav__list .link:hover {
  color: var(--accent-color);
}
