.header-nav {
  display: flex;
  align-items: center;
  .link {
    display: block;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}
.header-nav__list {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    color: rgb(33, 33, 33);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-nav__item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgba(33, 33, 33, 1);
}

.header-nav__list .link-current {
  color: var(--accent-color);
}
.header-nav__list .link {
  @include transitions(color);
}
.header-nav__list .link:focus,
.header-nav__list .link:hover {
  color: var(--accent-color);
}

.header-nav__list .link-current {
  color: var(--accent-color);
}
.header-nav__list .link {
  @include transitions(color);
}
.header-nav__list .link:focus,
.header-nav__list .link:hover {
  color: var(--accent-color);
}
