.header-contacts {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @include desktop {
      align-items: center;
      flex-direction: row;
    }
  }
}

.header-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
  @include desktop {
    margin-right: 10px;
  }
}
.header-contacts__item:not(:last-child) {
  margin-bottom: 10px;
  @include desktop {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-contacts .link {
  display: flex;
  align-items: center;
  color: rgba(117, 117, 117, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  @include transitions(color);
  &:visited {
    color: rgba(117, 117, 117, 1);
  }
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    line-height: 1.14;
    font-size: 14px;
  }
}
@include tablet {
  .header-contacts__email {
    padding-top: 20px;
  }
  .header-contacts__tel {
    padding-bottom: 20px;
  }
}
