.examples-filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}
/* justify-content: center;
  margin-bottom: 56px; */

.examples-filter__btn {
  display: inline-block;
  padding: 6px 22px;
  height: 38px;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  @include transitions(color, background-color, box-shadow);
  &:hover,
  &:focus {
    color: var(--btn-text);
    background-color: var(--btn-background);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
}

.examples-filter--first-btn {
  color: var(--btn-text);

  background-color: var(--btn-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ---- Карточки работ ---------*/

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  /*margin: -15px;*/
}
.examples-list__item {
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.examples-list__link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(238, 238, 238, 1);

  @include transitions(box-shadow);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.examples-list__wrap {
  overflow: hidden;
  position: relative;
}

.examples-list__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  padding: 0 24px;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);

  @include transitions(transform);
  .examples-list__link:hover &,
  .examples-list__link:focus & {
    transform: translateY(0);
  }
}
.examples-list__wrap-text {
  @media screen and (max-width: 360px) {
    font-size: 16px;
    line-height: 1.56;
  }
  font-size: 18px;
  line-height: 1.56;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.03em;
}

.examples-list__content {
  padding: 20px 24px;
}

.examples-list__title {
  margin-bottom: 4px;
  color: var(--sec-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list__text {
  color: var(--paragraph-text);
  font-size: 16px;
  line-height: 1.88;
}
