body {
  background-color: rgba(255, 255, 255, 1);
  letter-spacing: 0.03em;
  font-size: 14px;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  // @media screen and (max-width: 1199px) {
  &.no-scroll {
    overflow: hidden;
    position: fixed;

    // top: 0px;
  }
  &.modal-open {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
  }
}
