.container {
  /*width: 1200px;
  padding: 0 15px;
  margin: 0 auto;*/
  /*outline: 1px dashed tomato;*/

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include mobile {
    max-width: 480px;
    outline: 1px dashed tomato;
  }

  @include tablet {
    max-width: 768px;
    outline: 1px dashed greenyellow;
  }
  @include desktop {
    max-width: 1200px;
    outline: 1px dashed blueviolet;
  }
}
